<form class="loginform">
    <div class="mb-3">
      <label for="email" class="form-label">Username</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">remember username</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
