
<form class="form1" #addemp="ngForm"(ngSubmit)="submit()">
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="number" class="form-control" id="id" placeholder="12345" name="id" [(ngModel)]="empdetail.id">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="John Doe" name="name" [(ngModel)]="empdetail.name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" [(ngModel)]="empdetail.email">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success" id="save"><i class="bi bi-plus-circle"></i> Add</button>
        <button class="btn btn-danger" routerLink="/home" id="discard"><i class="bi bi-x-circle"></i> Cancel</button>
    </div>
</form><br>